* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.stepper {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stepper-container {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 2.5rem;
    align-items: center;
}

.step-number {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: grey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.step-line {
     height: 2.5rem;
     width: 2px;
     background-color: grey;
     position: absolute;
     top: 2.5rem;
}

.active {
    background-color: #017bfe;
}

.btn-back {
    background-color: #017bfe;
    color: white;
    font-size: large;
    padding: 10px;
    border-radius: 10%;
    border: none;
    margin-right: 1rem;
    cursor: pointer;
}

.btn-continue {
    background-color: #017bfe;
    color: white;
    font-size: large;
    padding: 10px;
    border-radius: 10%;
    border: none;
    cursor: pointer;
}